.SearchFilter {
  margin: 20px 0 0;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters > div {
  margin: 0 10px
}

.date-filter {
  display: flex;
}

.date-filter > div:first-of-type {
  margin-right: 10px;
}
